
*.jar
lib
dependency-reduced-pom.xml
sample/yank_build.xml
sample/yank.xls.properties
sample/yank.ods.properties
sample/yank.xlsx.properties
sample/versions.properties
sample/updates.txt
sample/.~lock.yank.*
sample/licenses
target
/target
